@font-face {
  font-family: 'monocraft'; /* Define a unique name for your font */
  src: url('monocraft.ttc') format('ttc')
  /* You can also add font-weight and font-style descriptors here if you have different variations */
}
